# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\COMP9318\Lab\Lab4_specs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
